{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

 {% block body %}
     <div {{ vue_component('UserProfile', {
        user: user_data,
        tokens: app.user ? app.user.validTokenStrings : null 
     }) }}></div>
{% endblock %}
